*{
    font-family: 'lucida sans' ,sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #999966,  #808080);
}

#container{
    height: 520px;
    width: 360px;
    margin: 100px auto;
    text-align: center;
    border: 3px solid #800000;
    border-radius: 10px;
}

button{
    cursor: pointer;
    font-size: 2rem;
    margin-top: 2rem;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}

#result{
    margin-top: 1.5rem;
}
